:root {
    --clr-bg: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Default */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

